/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: "Quicksand", serif;
    background-color: #1E293B;
    color: #fff;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 1px 600px rgba(255, 255, 255, 0.541);
}

#findButton {
    font-size: x-large;
    font-weight: bolder;
}

/* Share Button */
.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.hover-glow:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.click-ripple {
    position: relative;
    overflow: hidden;
}

.click-ripple::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
}

.click-ripple:active::after {
    opacity: 1;
    transition: opacity 0s;
}